# src: .gitignore
# @(#) : ignore settings for chatlog-exporter
#
# Copyright (c) 2026- atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

## blume
.blume/
dist/

# ignore node modules
node_modules/
