# src: .claude/.gitignore
# @(#) : ignore/unignore settings for .claude
#
# Copyright (c) 2026- atsushifx <http://github.com/atsushifx>
#
# This software is released under the MIT License.
# https://opensource.org/licenses/MIT

# track gitignore
!**/.gitignore

# track files settings for
!agents/
!agents/**
!rules/
!rules/**
!commands/
!commands/**
commands/_libs/*


## claude add-ons
# Agents
!agents/
!agents/*

